@import './variables';
@import './libs/normalize';
@import './fonts';

body {
    height: 100vh;
    width: 100%;
    background: $body;

    font-family: Montserrat, sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}


.header {
    width: 100%;
    padding-top: 7vh;
    height: 20vh;
    
    &__content {
        display: flex;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 75px;

    text-decoration: none;
    outline: $outlineLink;

    &__img {
        width: 50px;
        height: 61.5px;
        margin-right: 18px;
    }

    &__cont {
        font-weight: 800;
        font-size: 20px;
        color: $black;
    }
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &__items {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 40px;
    }

    &__link {
        font-weight: normal;
        font-size: 15px;
        color: $black;
        text-decoration: none;
        outline: $outlineLink;

        transition: all .1s linear;

        &:hover {
            opacity: 0.7;
        }

        &--active {
            position: relative;

            font-weight: 600;
            font-size: 15px;

            &::before {
                content: '';
                height: 1px;
                width: 100%;

                position: absolute;
                top: 100%;
                left: 0;
                background-color: $black;
            }
        }
    }
}

.tel {
    display: flex;
    align-items: center;
    margin-right: 110px;

    text-decoration: none;
    outline: $outlineLink;

    &__img {
        margin-right: 8px;
    }

    &__cont {
        color: $black;
    }
}

.basket {
    display: flex;
    align-items: center;

    &__link-img {
        height: 50px;
        width: 50px;

        margin-right: 13px;
    }

    &__list {
        display: flex;
        align-items: center;
        text-decoration: none;
        outline: $outlineLink;

        &-price {
            font-size: 20px;
            color: $black;

            margin-right: 5px;
        }

        &-arrow {
            width: 12px;
            height: 6px;
        }
    }
}

.content {
    height: 80vh;
    position: relative;

    display: flex;
    flex-direction: column;
}

.animals {
    position: absolute;
    bottom: 0;
    right: -200px;
    z-index: -1;
}

.description {
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    max-width: 415px;

    &__head {
        font-weight: 800;
        font-size: 38px;
        line-height: 46px;
        margin-bottom: 30px;
    }

    &__item {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 30px;
    }

    &__button {
        padding: 22px 35px;
        background: linear-gradient(94.72deg, #FD4B4B 14.55%, #FE2E2E 99.99%);
        box-shadow: 0px 10px 30px rgba(245, 58, 58, 0.54);
        border-radius: 50px;

        font-weight: 500;
        font-size: 16px;
        color: $white;
        text-decoration: none;
    }
}

.top {
    margin: auto 0 50px;

    &__head {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 345px;
        list-style-type: none;
    }

    &__item {
        padding-top: 15px;
        background: $white;
        border-radius: 15px;
        width: 160px;
        height: 170px;
        transition: all .2s linear;

        &:hover {
            transform: scale(1.05);
        }

        &-link {
            display: inline-block;
            width: 100%;
            height: 100%;

            text-decoration: none;
            outline: $outlineLink;
        }

        &-head {
            display: inline-block;
            padding-left: 25px;
            margin-bottom: 10px;
            position: relative;
            color: $black;
            font-weight: 500;
            font-size: 18px;

            &::before {
                content: '';
                width: 25px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 108%;

                background-color: transparent;
                background: url(../img/top/arrow-dog.png) no-repeat 50%;
                background-size: 25px;

                animation: arrow-animals .5s infinite linear;
            }

            &--arrow {
                &::before {
                    background-image: url(../img/top/arrow-parrot.png);
                }
            }
        }

        &-img {
            &--center {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@keyframes arrow-animals {
    0% {left: 108%;}
    25% {left: 109%;}
    50% {left: 110%;}
    75% {left: 109%;}
    100% {left: 108%;}
}